<nav class="navbar">
  @for(item of navigationItems; track $index; let i = $index;) {
  <a class="nav-item" [class.left]="i === 0" [class.center]="i === 1" [routerLink]="['/',item.path]"
    routerLinkActive="active">
    <span class="material-icons">{{item.icon}}</span>
    <span class="label">{{item.name}}</span>
  </a>
  }
  <button class="cta" (click)="createSession()">
    <span class="material-icons">+</span>
  </button>

  <button class="logout-btn" (click)="logout()">Logout</button>
</nav>