<div class="login-wrapper">
  <div class="card shadow login-card">
    <div class="card-body">
      <form>
        <div class="mb-3">
          <h4 class="text-muted">Login</h4>
        </div>

        <div class="mb-3">
          <label>Email address</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="email" placeholder="Enter email">
        </div>

        <div class="mb-3">
          <label>Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Password">
        </div>

        <button type="button" class="btn btn-info w-100 mb-3" (click)="login()">Login</button>

        <div class="row">
          <div class="col-md-6">
            <a href="/register" style="text-decoration: none;">New Account? <span class="text-danger">Register</span></a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>